body{
    font-size: 100%;
    background-color: rgba(147, 213, 252, 0.795);
}

div {
    margin: 1rem 0;
}

form{
    margin: o auto;
    width: auto;
    padding: 1rm;
}

footer{
    clear: both;
    background-color:palegoldenrod;
}