body{
    font-size: 100%;
    background-color: rgba(147, 213, 252, 0.795);
}

}
.navbar-brand > img {
  display: block;
}

img {
    border: 0;
}
img {
    vertical-align: middle;
}

img {
    height: 20px;
    width: 20px;
}

div {
    margin: 1rem 0;
}

form{
    margin: o auto;
    width: auto;
    padding: 1rm;
}

footer{
    clear: both;
    background-color:palegoldenrod;
}