body{
    font-size: 100%;
    background-color: rgba(147, 213, 252, 0.616);
}

.navbar-brand img {
  display: block;
}

img {
    border: 2;
    vertical-align: middle;
    height: auto;
    width: 10%;
}

div {
    margin: 1rem 0;
}

form{
    margin: o auto;
    width: auto;
    padding: 1rm;
}

footer{
    clear: both;
    background-color:palegoldenrod;
}